+9//* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;

  background-color: #fff;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
}

nav {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
}
.logo img {
  margin-top: 16px;
  width: 10em;
  height: 4em;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(38, 121, 209);
  margin: 0 1rem;
  font-weight: 700;
}

.nav-items a i {
  padding-right: 4px;
}
main {
  background-image: url("heylagostechie-IgUR1iX0mqM-unsplash.jpg");
  background-position: center;
  background-size: cover;
}
.image-overlay {
  height: calc(120vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.container {
  max-width: 1000px;
  margin-top: 4rem;
  margin-bottom: 4em;
}

.container p {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}
h4 {
  text-align: center;
  font-size: 3.5em;
  color: rgb(38, 121, 209);
  text-transform: uppercase;
}
.btn {
  width: 12rem;
  height: 3rem;
  border-radius: 25px;
  outline: none;
  border: none;
  padding: 16px;
  color: rgb(38, 121, 209);
  text-decoration: none;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.btn:hover {
  background-color: rgb(38, 121, 209);
  color: #fff;
}
.active {
  background: rgb(38, 121, 209);
  color: #fff;
  padding: 10px;
}
